body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  background-color: white;
    font-family: Lalezar;
    margin-bottom: 50px;
    padding-top: 65px;
     color: #404040;
     padding-bottom: 50px;
}